/* 
main background color #15171C;
side back ground: #424549 (hsl(214, 5%, 27%)), (top right);
                #26363A (hsl(192, 21%, 19%)) (bottom left);
                #26363A ( )(bottom right)
 */


body {
    background-color: hsl(223, 14%, 10%);
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/*~~~~~~~~~ background color ~~~~~~~~~*/
.color-section {
    margin: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    
}

.color-section div {
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.4;
}

.top-right {
    background-color: #424549;
    width: 35%;
    height: 20%;
    top: -7%;
    right: -10%;
}

.bottom-left {
    width: 70%;
    height: 50%;
    background-color: #1c4d4d;
    bottom: -35%;
    left: -10%;
}

.bottom-right {
    width: 60%;
    height: 35%;
    background-color: #424549;
    right: -40%;
    bottom: 15%;
}

/*~~~~~~~~~ main screen ~~~~~~~~~*/

.header {
    border: 1px black solid;
    position: fixed;
    width: 100vw;
    height: 10vh;
    font-size: 2rem;
    color:  #8b93a7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #15171C;
    z-index: 20;
}

.header > p {
    padding-right: 5%;
}

.cardio-box > section {
    height: 20%;
}

.hydration-box > section {
    height: 20%;
}

.sleep-box > section {
    height: 20%;
}

.cardio-box,
.water-box,
.sleep-box {
    height: 100vh;
    width: 100vw;
    color: #8b93a7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.stairs-flights,
.stairs-minutes,
.steps,
.miles-walked,
.water-chart,
.daily-slept,
.rank-night,
.rank-average {
    background: linear-gradient(.25turn, #4259C3, #7B9FF2);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    margin: 0;
}

/*~~~~~~~~~ CARDIO ~~~~~~~~~*/

.cardio-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardio-graphs {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.stairs-graph,
.steps-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%
}

.stairs-donut,
.steps-donut {
    margin-bottom: 40px;
}


.stairs-info,
.step-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.stairs-graph:hover .stairs-info {
    transform: rotateX(180deg);
}

.steps-graph:hover .step-info {
    transform: rotateX(180deg);
}

.flip180 {
    transform: rotateX(180deg);
}

.stairs-flights,
.stairs-minutes,
.steps,
.miles-walked {
    display: flex;
    position: absolute;
    backface-visibility: hidden;
    z-index: 10;
}

.stairs-minutes,
.miles-walked {
    transform: rotateX(180deg);
}

/*~~~~~~~~~ HYDRATION~~~~~~~~~*/

.water-box {
    padding-top: 2%;
}

.water-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.water-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 139%;
}

.water-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -10%;
    z-index: -10;
    width: 100%;
    height: 100%
}

.water-bar-daily {
    display: flex;
    position: absolute;
    bottom: 33%;
}

.milk-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 6em;
}

.milk-container img {
    height: 70%;
    width: 60%;
    position: absolute;
    bottom: 40%;
}

.water-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
/*~~~~~~~~~ SLEEP ~~~~~~~~~*/

.sleep-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sleep-graphs {
    display: flex;
}

.sleep-graph,
.sleep-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.daily-slept {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quality-night,
.quality-average {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rank-night,
.rank-average {
    color: lightblue;
}
/*~~~~~~~~~ For Desktop ~~~~~~~~~*/

@media only screen and (min-width: 800px) { 
    .info-section {
    display: flex;
    flex-direction: row;
    }

    .cardio-box,
    .water-box,
    .sleep-box {
        width: 32vw;
        height: 100vh;
    }

    .milk-container {
        width: 24vw;
    }
} 